<div class="calc-container">
    <div class="calc">
        <div class="calc-desk col-sm-6">
            <div>
                <div class="form-group">
                    <input class="form-control input-text" ng-model="calculateStr" type="text" name="search-text" ng-model="input" value="">
                </div>
            </div>
            <div class="btn-container">
                <div class="btn-panel">
                    <div class="btn btn-default pull-left calc-btns" ng-repeat="item in controls.scientifics track by $index"> <span ng-bind="item.label">-</span> </div>
                    <div class="clearfix"></div>
                </div>
                <div class="btn-panel">
                    <div class="btn btn-default pull-left calc-btns" ng-repeat="item in controls.digits track by $index" ng-click="setItem(item)"> <span ng-bind="item.label">-</span> </div>
                    <div class="clearfix"></div>
                </div>
                <div class="btn-panel liquid">
                    <div class="btn btn-default pull-left calc-btns" ng-repeat="item in controls.operators track by $index" ng-click="setAction(item)"> <span ng-bind="item.label">-</span> </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="calc-history col-sm-6">
            <h3>History</h3>
            <ul class="list">
                <li class="item">yo</li>
                <li class="item">yo</li>
                <li class="item">yo</li>
                <li class="item">yo</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
